
<div class="container">
<form class="form" #formNewperson="ngForm" (ngSubmit)="resetPassword()">
<h4 class="text-warning">
איפוס סיסמא
</h4>
<div class="form-group" >
<h3>מהו תאריך ההתחלה של  הלימוד שבחרת</h3>
<h4 class="text-primary">חודש </h4>
<input nbInput type="text" name="startMonth" [(ngModel)]="startMonth" class="form-control"  #mystartMonth="ngModel">
<h4 class="text-primary">שנה </h4>
<input nbInput type="text"  name="startYear" [(ngModel)]="startYear" class="form-control"  #myendMonth="ngModel">
</div>
<input nbButton type="submit" (click)="resetPassword()">
</form>
</div>
