<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--כאן שומרים את הנתיבים המשמעותיים לפרויקט-->
  <appSettings>
    <add key="mail" value="C:\Users\בתיה\Documents\project\BLL\BLL\mail.rtf"/>
    <add key="fromMail" value="otzarlimud@gmail.com"/>
    <add key="fromMailPassword" value="169231464"/>

  </appSettings>

</configuration>